{
    "env": {
        "browser": true
    },
    "extends": "plugin:react/recommended",
    "overrides": [
        {
            "files": ["./**/entry.mjs"]
        }
    ],
    "settings": {
        "react": {
            "version": "16.x"
        }
    }
}
