<!DOCTYPE html>

<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta content="utf-8" http-equiv="encoding" />
        <meta name="author" content="cyrus01337" />
        <link href="/layouts/main.css" rel="stylesheet" type="text/css" />

        {{{sections.head}}}
    </head>

    <body>
        <div class="root" id="root">
            {{{body}}}
        </div>
    </body>
</html>
